<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/common::admin-header-link"></head>

<body>
<div class="container-fluid">
    <div class="row">
        <div th:replace="admin/common::admin-side-bar"></div>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <div th:replace="admin/common::admin-head-nav"></div>
            <div class="row col-md-9 pt-4">
                <a class="btn btn-success" href="/admin/edit">新增</a>
                <a class="btn btn-info ml-5" id="_modify">修改</a>
                <button data-toggle="modal" data-target="#confirm_model"
                        data-title="发布确认" data-desc="确认发布所选文章"
                        data-action="publicBlogs"
                        class="btn btn-info ml-5">发布
                </button>
                <button data-toggle="modal" data-target="#confirm_model"
                        data-title="删除确认" data-desc="确认删除所选文章"
                        data-action="deleteBlogs"
                        class="btn btn-danger ml-5">删除
                </button>
            </div>
            <div class="table-responsive pt-2">
                <table id="blog_table" class="table stripe compact hover">
                    <thead>
                    <tr>
                        <th><input type="checkbox" id="_all_select"/></th>
                        <th>标题</th>
                        <th>摘要</th>
                        <th>状态</th>
                        <th>创建时间</th>
                        <th>发布时间</th>
                        <th>修改时间</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="blog :${blogs.records}">
                        <td><input type="checkbox" data-th-id="${blog.blogId}"/></td>
                        <td th:text="${blog.title}"></td>
                        <td th:text="${blog.digest}"></td>
                        <td th:text="${blog.status}"></td>
                        <td th:text="${#dates.format(blog.createTime,'yyyy-MM-dd')}"></td>
                        <td th:text="${#dates.format(blog.publishTime,'yyyy-MM-dd')}"></td>
                        <td th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>
<div th:include="admin/common::admin-footer"></div>
</body>
<script type="text/javascript">
    "use strict";
    let dtsLanguage = "/static/ui/language/dtsLanguage.txt"
    $(document).ready(function () {
        $("#blog_table").DataTable({
            destroy: true,
            bLengthChange: false,
            bAutoWidth: false,
            bInfo: true,
            ordering: true,
            order: [4, "desc"],
            language: {
                url: dtsLanguage
            },
            columnDefs: [
                {
                    targets: [0],
                    orderable: false,
                }
            ],
            createdRow: function (row, data, index) {
                $('td', row).attr("class", "text-center");
                let digist = $('td:nth-child(3)', row);
                digist.attr("class", "text-left table-cell");
                if (digist[0].scrollWidth > digist[0].offsetWidth) {
                    $('td:nth-child(3)', row).prop("title", data[2]);
                }
            },

        });
    });

    function deleteBlogs(ids) {
        if (ids.length === 0) {
            $("#confirm_model").modal("hide");
            tipMsg("未选择文章");
        } else {
            console.log(Date());
            $.get("/admin/deleteBlogs", {
                ids: ids.join(','),
            }, function (res) {
                $("#confirm_model").modal("hide");
                location.reload();
                if (res.detail.biz_data === true) {
                    tipMsg("删除成功");
                } else {
                    tipMsg("删除失败");
                }
            });
        }

    }

    function publicBlogs(ids) {

    }

    $(function () {

        $("#_modify").click(function () {

        });

        $("#_model_confirm").on("click", confirmButtonClick());

        $("#_all_select").click(function () {
            if ($(this).prop("checked")) {
                $(":checkbox").attr("checked", true);
            } else {
                $(":checkbox").attr("checked", false);
            }
        });
    });
</script>
</html>