<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="commonHeader(title)">
    <title th:text="${title}"></title>
    <link th:href="@{/static/bootstrap/bootstrap.css}" rel="stylesheet">
</head>
<body>
<div th:fragment="commonNav">
    <nav id="sidebarMenu" class="col-md-3 sidebar-sticky col-lg-2 d-md-block bg-light sidebar collapse">
        <div class=" pt-3">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="https://v4.bootcss.com/docs/examples/dashboard/#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                        Dashboard <span class="sr-only">(current)</span>
                    </a>
                </li>
            </ul>

        </div>
    </nav>
</div>
<footer th:fragment="commonFooter">
    <script th:src="@{/static/ui/js/main.js}"></script>
    <script th:src="@{/static/jQuery/jquery-3.5.1.js}"></script>
</footer>
</body>
</html>
