<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="admin-header-link">
    <meta charset="UTF-8">
    <title>后台管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" th:href="@{/static/public/favicon.ico}"/>
    <link rel="bookmark" th:href="@{/static/public/favicon.ico}"/>
    <link rel="stylesheet" th:href="@{/static/ui/css/blog.css}">
    <link rel="stylesheet" th:href="@{/static/bootstrap/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/static/ui/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/static/bootstrap_select/bootstrap-select.css}">
</head>
<body>
<div th:fragment="admin-head-nav">

</div>
<nav id="sidebarMenu" th:fragment="admin-side-bar"
     class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="/admin/home">
                    <span class="fa fa-home"></span>
                    Dashboard <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/blogList/0/10">
                    <span class="fa fa-file-text"></span>
                    博客管理
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://v4.bootcss.com/docs/examples/dashboard/#">
                    <span class="fa fa-tag"></span>
                    标签管理
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://v4.bootcss.com/docs/examples/dashboard/#">
                    <span class="fa fa-comment"></span>
                    评论管理
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://v4.bootcss.com/docs/examples/dashboard/#">
                    <span class="fa fa-key"></span>
                    密码管理
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://v4.bootcss.com/docs/examples/dashboard/#">
                    <span class="fa fa-sign-out"></span> 退出系统
                </a>
            </li>
        </ul>
    </div>
</nav>

<footer th:fragment="admin-footer">
    <script th:src="@{/static/ui/js/main.js}"></script>
    <script th:src="@{/static/ui/js/jquery-3.5.1.js}"></script>
    <!--    <script th:src="@{/static/bootstrap/popper.js}"></script>-->
    <script src="https://cdn.bootcss.com/popper.js/1.14.7/umd/popper.min.js"></script>
    <script th:src="@{/static/bootstrap/bootstrap.js}"></script>
    <script th:src="@{/static/bootstrap_select/bootstrap-select.js}"></script>
</footer>
</body>
</html>
