<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/common::admin-header-link"></head>
<body>
<div class="container-fluid">
    <div class="row">
        <div th:replace="admin/common::admin-side-bar"></div>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <div th:replace="admin/common::admin-head-nav"></div>
            <div class="row col-md-9 pt-4">

                <!--                <button data-toggle="modal" data-target="#edit_model"-->
                <!--                        data-title="标签新增" data-action="add"-->
                <!--                        class="btn btn-success ml-5">新增-->
                <!--                </button>-->

                <button data-title="标签新增" id="add_button"
                        class="btn btn-success ml-5">新增
                </button>

                <button data-title="标签修改" id="modify_button"
                        class="btn btn-info ml-5">修改
                </button>

                <button data-toggle="modal" data-target="#confirm_model"
                        data-title="删除确认" data-desc="确认删除所选标签"
                        data-action="deleteLabels"
                        class="btn btn-danger ml-5">删除
                </button>
            </div>
            <div class="table-responsive w-50 pt-2">
                <table id="label_table" class="table stripe compact hover text-center">
                    <thead>
                    <tr>
                        <th><input type="checkbox" id="_all_select"/></th>
                        <th>名称</th>
                        <th>类型</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="label :${labels}">
                        <td><input type="checkbox" th:data-id="${label.labelId}" th:data-name="${label.name}"/></td>
                        <td th:text="${label.name}"></td>
                        <td th:text="${label.type} eq '0'?'分类':'时间'"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </div>
    <div class="modal fade" id="edit_model" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row align-center">
                        <span class="text-center text-middle col-md-2">标题</span>
                        <input type="text" class="col-md-3  form-control" placeholder="请输入名称">
                        <span class="col-md-1"></span>
                        <span class="text-center text-middle col-md-2">类型</span>
                        <select class=" form-control show-tick col-md-3">
                            <option>分类</option>
                            <option>时间</option>
                        </select>

                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button type="button" id="edit_confirm_button" class="btn btn-info ml-5">确认</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<div th:replace="admin/common::admin-footer"></div>
<script type="text/javascript">
    "use strict"
    let dtsLanguage = "/static/ui/language/dtsLanguage.txt" //必需，不然分页会报错

    $(document).ready(function () {
        $("#label_table").DataTable({
            destroy: true,
            bLengthChange: false,
            bAutoWidth: false,
            bInfo: true,
            ordering: true,
            cache: false,
            order: [],
            language: {
                url: dtsLanguage
            },
            columnDefs: [
                {
                    targets: [0],
                    orderable: false,
                }
            ],
        });
        $("#modify_button").click(function () {
            let ids = [];
            let checkedIds = $(":checked:not(#_all_select)input[type='checkbox']");
            for (let id of checkedIds) {
                ids.push($(id).data('id'));
            }
            if (checkedIds.length === 1) {
                let modal = $("#edit_model");
                modal.find('.modal-title').text($(this).data('title'));
                modal.modal("show");
                modal.data('id', ids[0]);
                let _input = checkedIds[0].parentNode.nextElementSibling;
                modal.find('input[type="text"]').val(_input.textContent);
                let _type = _input.nextElementSibling.textContent;
                $.each(modal.find('option'), function (index, value, array) {
                    value.selected = (_type === value.value);
                });
                $('#edit_confirm_button').off("click").on("click", function () {
                    updateLabel();
                })
            }
            if (checkedIds.length > 1) {
                tipMsg("只能选择一篇文章修改");
            } else if (checkedIds.length === 0) {
                tipMsg("需选择一篇文章修改");
            }
        });

        $("#add_button").click(function () {
            let modal = $("#edit_model");
            modal.find('.modal-title').text($(this).data('title'));
            modal.modal("show");
            $('#edit_confirm_button').off("click").on("click", function () {
                saveLabel();
            })
        });

        // $('#edit_model').on('show.bs.modal', function (event) {
        //     let button = $(event.relatedTarget);
        //     let title = button.data('title');
        //     let action = button.data('action');
        //     let modal = $(this)
        //     modal.find('.modal-title').text(title);
        //     if ('add' === action) {
        //         $('#edit_confirm_button').off("click").on("click", function () {
        //             saveLabel();
        //         })
        //     }
        // });
    });

    function saveLabel() {
        let label = {};
        label.name = $("#edit_model input[type='text']")[0].value;
        label.type = $("#edit_model option:selected")[0].value;
        $.postJSON("/admin/label/createLabel", label, function (res) {
            $("#edit_model").modal("hide");
            if (res.detail.bizData === true) {
                tipMsg("新增成功");
                location.reload();
            } else {
                tipMsg("新增失败");
            }
        });
    }

    function updateLabel() {
        let label = {};
        label.labelId = $("#edit_model").data('id');
        label.name = $("#edit_model input[type='text']")[0].value;
        label.type = $("#edit_model select")[0].value;
        console.log(label);
        $.postJSON("/admin/label/modifyLabel", label, function (res) {
            $("#edit_model").modal("hide");
            if (res.detail.bizData === true) {
                tipMsg("修改成功");
                location.reload();
            } else {
                tipMsg("修改失败");
            }
        });
    }

    function deleteLabels(ids) {
        if (ids.length === 0) {
            $("#confirm_model").modal("hide");
            tipMsg("未选择文章");
        } else {
            $.get("/admin/label/deleteLabels", {
                ids: ids.join(','),
            }, function (res) {
                $("#confirm_model").modal("hide");
                if (res.detail.bizData === true) {
                    tipMsg("删除成功");
                    location.reload();
                } else {
                    tipMsg("删除失败");
                }

            });
        }

    }
</script>
</html>