<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/common::admin-header-link"></head>
<body>
<div class="container-fluid">
    <div class="row">
        <div th:replace="admin/common::admin-side-bar"></div>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <div th:replace="admin/common::admin-head-nav"></div>
            <div class="row col-md-9 pt-4">
                <button data-toggle="modal" data-target="#confirm_model"
                        data-title="重置确认" data-desc="确认重置密钥"
                        data-action="refreshKey"
                        class="btn btn-danger ml-5">重置
                </button>
            </div>
            <div class="row col-md-9 mt-5 text-center">
                <img th:src="${url}" width="500" height="500">
            </div>
        </main>
    </div>
</div>
</body>
<div th:replace="admin/common::admin-footer"></div>
<script type="text/javascript">
    "use strict"

    function refreshKey() {
        $.get("/admin/password/refreshKey", "", function (res) {
            $("#confirm_model").modal("hide");
            if (res.detail.bizCode === 1) {
                location.reload();
                tipMsg("重置成功");
            } else {
                tipMsg("重置失败");
            }
        })
    }
</script>
</html>