<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<footer class="footer blog-footer" th:fragment="footer-fragment">
    <div class="blog-text-center">
        <p>Powered by <a href="https://twitter.com/PFazax" class="text-muted">Fazac</a></p>
        <a href="https://beian.miit.gov.cn" class="text-muted ">鄂ICP备2021005412号-1</a>
    </div>
    <script th:src="@{/static/ui/js/main.js}"></script>
    <script th:src="@{/static/ui/js/jquery-3.5.1.js}"></script>
    <script th:src="@{/static/ui/js/blogcommon.js}"></script>
</footer>
</html>