<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="blog/header::blog-header-link"></head>
<body>
<div th:replace="blog/header::blog-header"></div>
<!--<div class="container">-->
<!--    <div class="nav-scroller py-1 mb-2">-->
<!--        <nav class="nav d-flex justify-content-between">-->
<!--        </nav>-->
<!--    </div>-->
<!--</div>-->
<main role="main" class="container pt-5">
    <div class="row">
        <div class="col-md-8">
            <div class="blog-post" th:onclick="pageBlog([[${blog.blogId}]]);" th:each="blog : ${blogs}">
                <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <h3 class="mb-0 blog-post-title" th:text="${blog.title}">Featured post</h3>
                        <div class="mb-1 text-muted"
                             th:text="${#dates.format(blog.publishTime,'yyyy-MM-dd')}"></div>
                        <p class="card-text mb-auto text-indent_2" th:text="${blog.digest}">...</p>
                        <strong class="d-inline-block mb-2 text-primary blog-post-meta"
                                th:text="${blog.labelidsName}">World</strong>
                    </div>
                    <div class="col-auto d-none d-lg-block" th:if="${blog.showCoverPic}">
                        <img th:src="${blog.showCoverPic}" width="200" height="250"/>
                    </div>
                </div>
            </div>


            <nav class="blog-pagination">
                <a class="btn btn-outline-primary" href="#">Older</a>
                <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true">Newer</a>
            </nav>

        </div>

        <aside class="col-md-4">

            <div class="p-4">
                <h4 class="font-italic">Labels</h4>
                <ul class="tags mb-4 list-unstyled ">
                    <th:block th:each="label : ${labels}">
                        <li class="mb-3"><a class="btn a_radius border"
                                            th:href="@{/blog/search(labelid=${label.labelId})}">
                            <th:block th:text="${label.name}">label</th:block>
                        </a></li>
                    </th:block>
                </ul>
            </div>

            <div class="p-4">
                <h4 class="font-italic">Archives</h4>
                <ol class="list-unstyled mb-0">
                    <li th:each="archive : ${archives}" th:text="${archive}">March 2014</li>
                </ol>
            </div>

            <!--            <div class="p-4">-->
            <!--                <h4 class="font-italic">Elsewhere</h4>-->
            <!--                <ol class="list-unstyled">-->
            <!--                    <li><a href="https://github.com/fazac">GitHub</a></li>-->
            <!--                    <li><a href="https://twitter.com/PFazax">Twitter</a></li>-->
            <!--                    <li><a href="https://www.facebook.com/lion.fazac/">Facebook</a></li>-->
            <!--                </ol>-->
            <!--            </div>-->
        </aside>

    </div>

</main>

</body>
<footer th:replace="blog/footer::footer-fragment"></footer>
<script type="text/javascript">
    "use strict";

    function pageBlog(id) {
        location.href = "/blog/blog/" + id;
    }

</script>
</html>